<html>
    <head>

    </head>
    <body>
       <h3>Reg form</h3>
       
       <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td><label>Name:</label></td>
                <td><input type="text" name="name" placeholder="enter yout name"></td>
            </tr>
            <tr>
                <td><label>Email:</label></td>
                <td><input type="text" name="email" placeholder="enter your email"></td>
            </tr>
            <tr>
                <td>Mobile Number:</td>
                <td><input type="number" name="contact" placeholder="enter mobile no"></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input type="text" name="uname" placeholder="enter username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="pswd" placeholder="enter password"></td>
            </tr>
            
            <tr>
                <td><input type="submit" value="Register"></td>
            </tr>
            
        </table>
       
        </form>
    </body>
</html>